#Console {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: #FFF;
    z-index: 100000;
}
#Console .titlebar {
    background-color: #EEE;
    border-top: solid #BBB 1px;
    border-bottom: solid #BBB 1px;
    color: #555;
    padding: 3px 6px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}
#Console .output {
    height: 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 1.2em;
    overflow: hidden;
    color: #000;
    transition: all 0.3s linear;
}
#Console.open .output {
    height: 7em;
    overflow: auto;
}
#Console .output p {
    margin: 0;
    padding: 0;
}
#Console .output p.error {
    color: #C00;
}
#Console .output .output-string:before {
    content: '"';
}
#Console .output .output-string:after {
    content: '"';
}
#Console .output .output-number {
    color: #00F;
}
#Console .input {
    position: relative;
    border-top: solid #AAA 0px;
    margin-top: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}
#Console.open .input {
    margin-top: 3px;
    height: 30px;
    border-top-width: 1px;
}
#Console .input:before {
    content: '>';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    text-align: center;
    line-height: 30px;
}
#Console .input input {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 3px 6px;
    padding-left: 25px;
    background-color: transparent;
    height: 30px;
    border-style: none;
    font-family: "Courier New", Courier, monospace;
}