/*
html,body { width: 100%; height: 95%; }
body{
    padding: 0px;
    margin: 0px;
    font-family: Arial,Helvetica,Garuda,sans-serif;
    background-color: #ddd;
    padding-top: 50px;
}
*/
#navheader{
  background: #F79834;
  color: white;
}
core-scaffold::shadow core-toolbar,
core-toolbar {
  background-color: #F00!important;
}
#headerpanel{
    background: #3D4053!important;
    color: white;
}
button{
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
}
.newsitem, .netnieuwsitem{
    position: relative;
    background-color: #EAEAEA;
}
#content{
    position: relative;
}
.middle{
    width: 80%;
    height: inherit;
    float: left;
}
.imgblock{
    width: 20%;
    float: left;
    /* text-align: center; */
    vertical-align: middle;
    height: 100px;
    position: relative;
}
.imgblock img{
    padding: 5%;
    max-width: 95%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
/* -- NAV kan wss weg
#navigatie{
    position: fixed;
    background-color: #1f1f1f;
    height: 55px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
#navigatie a.active{
    background-color: #434343;
}
#navigatie a{
    width: 20%;
    height: 100%;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: top;
    color: white;
}
*/
.teamcategorie{
    background-color: #F79834;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
#teams div{
    height: 30px;
}
#uitslagen table, #standen table{
    border-radius: 5px;
    border-collapse:collapse;
    margin-left: 3px;
    margin-right: 3px;
}
#uitslagen tr.header, #standen tr.header{
    background-color:#F79834;
    color: #FFF;
    border: 1px solid #000;
}
#uitslagen td, #standen td{
    background-color:#AAA;
    border: 1px solid #000;
}
#uitslagen td, #standen td{
    background-color:#BBB;
}
/* icons en password modal kunnen eruit
.icon{
    display: inline-block;
    width: 48px;
    height: 32px;
    background-position: top left;
}
#navigatie a.active .icon{
    background-position: bottom left;
}
.icon.nieuws{
    background-image: url('../images/ic_nieuws.png');
}
.icon.netnieuws{
    background-image: url('../images/ic_netnieuws.png');
}
.icon.teams{
    background-image: url('../images/ic_teams.png');
}
.icon.uitslagen{
    background-image: url('../images/ic_uitslagen.png');
}
.icon.standen{
    background-image: url('../images/ic_standen.png');
}
.icon.twitter{
    background-image: url('../images/ic_twitter.png');
}
#passwordmodal{
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    background-color: #FFF;
    left: 50%;
    top: 50%;
    padding: 25px;
    border-radius: 5px;
    max-width: 350px;
}
#passwordbackground{
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    opacity: 0.7;
}
*/
table{
    width: 98%;
}

#Console{
    display: none;
}